doctype html
html(lang='en')
  link(href="mainstyle.css" rel="stylesheet")
  head
    meta(charset='UTF-8')
    title IP Addresses
  body
    if msgs.length == 0
      h1 No recent IP addresses received
    else
      h1 The last received IP Addresses are:
      table
        tr
          th Time Ping Received
          th IP
          th Message
        each iptime in msgs.slice(0).reverse()
          tr
            td= iptime.time
            td= iptime.ip
            td= iptime.data
